---
layout: default
title: Hotels in Key West Florida | 24 North Hotel Key West
excerpt: 24 North Hotel Key West offers boutique accommodations in Key West Florida. Book your Ocean-View accommodation here on the Official Website of 24 North Hotel!
---

<section>
  <div class="home-banner-wrap">
    <div id="homeCarousel" class="carousel slide"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
        <li data-target="#homeCarousel" data-slide-to="4"></li>
      </ol>
      
      <!-- Wrapper for Slides -->
      <div class="carousel-inner" rt3-recent-bookings="recentBookings" rt3-rooms-browser="browser" rt3-search-form="search" on-search-changed="browser.tonightRate()" ng-cloak>
      
              <div class="item active"> <img src="../images/home-carousel-2.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Endless Summer</p>
              <h1>Holiday dream come true</h1>
              <div><a href="/specials/" class="button-common">View Specials <i class="fa fa-play"></i></a></div>
            </div>
          </div>
          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
      
        <div class="item"> <img src="../images/home-carousel-1.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Paradise Found</p>
              <h1>24 north hotel key west</h1>
              <div><a href="/location/" class="button-common">Discover More <i class="fa fa-play"></i></a></div>
            </div>
          </div>
         <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
        
         <div class="item"> <img src="../images/home-carousel-3.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Perfect Stay</p>
              <h1>Live in style and comfort</h1>
              <div><a href="/rooms/" class="button-common">View Rooms<i class="fa fa-play"></i></a></div>
            </div>
          </div>
           <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
        <div class="item"> <img src="../images/home-carousel-4.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Dive Into</p>
              <h1>A world of adventure</h1>
              <div><a href="/gallery/" class="button-common">View Gallery<i class="fa fa-play"></i></a></div>
            </div>
          </div>
          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
        <div class="item"> <img src="../images/home-carousel-5.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Tranquil Haven</p>
              <h1>Destination Divine</h1>
              <div><a href="/location/" class="button-common">View Location<i class="fa fa-play"></i></a></div>
            </div>
          </div>
          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
      </div>
    </div>
    <!--<div class="theme-left-panel">
      <div class="languages"><a href="#">English</a><a href="#">Español</a><a href="#">Deutsch</a></div>
    </div>-->
    <div class="theme-right-panel">
      <div class="social-right"><!-- <a href="#"><i class="fa fa-instagram"></i></a> --><a href="https://www.facebook.com/24-North-Hotel-190785077925312/" target="_blank"><i class="fa fa-facebook"></i></a> <!--<a href="#"><i class="fa fa-twitter"></i></a> --></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid blue-bg">
    <div class="about-wrap">
      <h1>24 north hotel Key West</h1>
      <p>Our hotel is located at the point of entry to Key West and convenient to everything in Old Town and across the island. Key West, also known as Cayo Hueso, is a 2-mile-by-4-mile island located at the southernmost tip of the continental U.S. at the tail end of the 120-mile-long Florida Keys island chain, just 90 miles from Cuba. Key West International Airport is a 10 minute drive to 24 North Hotel. Alternatively, guests can arrive by ferry from Fort Myers via Key West Express.</p>
      <div class="btn-holder"><a href="/specials/" class="button-common">View Specials <i class="fa fa-play"></i></a></div>
      <div class="graphic-1"><img src="/images/floating/stamp-1.png" alt=""/></div>
      <div class="graphic-2"><img src="/images/floating/curves-1.png" alt=""/></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        <h3>Paradise Found</h3>
        <p>Come to 24 North Hotel and soak in Key West. Our concierge can curate personalized experiences such as yoga, pilates, spa services, bicycle and scooter rentals, snorkeling and diving, seaplane tours, catamaran sailing, parasailing, deep sea fishing, and much more.</p>
        <div class="logo-icon"><img src="../images/logo-24.jpg" alt="24 North Hotel Key West"/></div>
      </div>
    </div>
    <div class="col-sm-6 no-padding v-center"><img src="/images/two-col-1.jpg" alt="Paradise Found"/></div>
  </div>
</section>
<section class="about-home">
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center"><img src="/images/two-col-2.jpg" alt="About the Hotel"/></div>
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        <h3>About the hotel</h3>
        <p>24 North Hotel offers standard, pool view, and oceanfront rooms with premium features and in-room amenities. Rooms are equipped with a 48" LCD TV, microwave, refrigerator, oversized lounge chair and ottoman, bath with granite counter tops, and exceptionally comfortable and clean beds.</p>
        <!--<div class="btn-holder"><a href="#" class="button-common btn-blue">View this suite<i class="fa fa-play"></i></a></div>-->
      </div>
    </div>
  </div>
  <div class="graphic"><img src="/images/floating/curves-2.png" alt=""/></div>
</section>

<section>
  <div class="container-fluid no-padding home-rooms-wrap">
    <div class="home-rooms">
      <div class="container">
        
          <div class="home-rooms-holder">
          <div class="home-rooms-holder-inner">
          <div id="carousel-bottom">
            <div class="item">
            <div>
              <h2>Rooms & Suites</h2>
              <h3><span class="block-element">Premium </span>Ocean View</h3> 
              <p></p>
              <div class="btn-holder extra padding"><a href="/rooms/" class="button-common btn-blue">View Rooms<i class="fa fa-play"></i></a></div>
            </div>         
			</div>
            <div class="item">
            <div>
              <h2>Rooms & Suites</h2>
              <h3><span class="block-element">Deluxe</span>Pool View</h3> 
              <p></p>
              <div class="btn-holder"><a href="/rooms/" class="button-common btn-blue">View Rooms<i class="fa fa-play"></i></a></div>
            </div>         
			</div>
            <div class="item">
            <div>
              <h2>Rooms & Suites</h2>
              <h3><span class="block-element">Standard</span></h3>  
              <p></p>
              <div class="btn-holder"><a href="/rooms/" class="button-common btn-blue">View Rooms<i class="fa fa-play"></i></a></div>
            </div>         
			</div>
             
           
         </div>
        </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
	<div class="container-fluid no-padding home-specials-wrap">
    	<div class="container">
       	  <h2 class="heading-large">Special Offers</h2>
          
          <div id="home-carousel-2">
  				<div class="item">
            <div class="home-specials-item">
                <img src="../images/home-special-1.jpg" alt=""/>
                <div class="car-content">
                    <h3>Advance Purchase Non-Refundable</h3>
                    <p>Non-Refundable Offer. Full pre-payment required at the time of booking.</p>
                </div>
                <a href="https://24northhotel.reztrip.com/en/special_offer?rate_code=ADV&offer_code=NONREFUNDABLE" target="_blank" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="../images/home-special-2.jpg" alt=""/>
                <div class="car-content">
                    <h3>Hemingway House Package</h3>
                    <p>Receive complimentary tickets to Hemingway House.</p>
                </div>
                <a href="https://24northhotel.reztrip.com/en/special_offer?rate_code=HHPKG&offer_code=HEMINGWAY" target="_blank" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
            
            <div class="item">
            <div class="home-specials-item">
                <img src="../images/home-special-3.jpg" alt=""/>
                <div class="car-content">
                    <h3>$50 Food & Beverage Package</h3>
                    <p>Receive a $50 food & beverage credit to use at our Poolside Bar, minimum stay required.</p>
                </div>
                <a href="https://24northhotel.reztrip.com/en/special_offer?rate_code=FB50&offer_code=POOLBAR" target="_blank" class="button-common btn-top">View Special</a>
            </div>
            
            </div>
  
            </div>
            
            <div class="graphic"><img src="/images/floating/stamp-2.png" alt=""/></div>
            
          <div class="btn-holder-with-padding"><a href="/specials/" class="button-common btn-blue">View all Specials<i class="fa fa-play"></i></a></div>
            
        </div>
    </div>
</section>

<section class="bt">
	<div class="container-fluid no-padding">
    <div class="border-texture"><img src="/images/floating/border-textrure.png" alt=""/></div>
    	<div class="cta-theme">
        	<div class="pf-wrap">
        	<h2>Paradise Found</h2>
            <div><a href="/gallery/" class="button-common btn-white">View Gallery<i class="fa fa-play"></i></a></div>
        	</div>
        </div>
    </div>
</section>

{% include grid.html %}

<!--<section>
  <div class="container-fluid no-padding three-col-wrap">
    	<div class="col-sm-4 no-padding v-center"><img src="../images/three-col-1.jpg" alt=""/></div>
        <div class="col-sm-4 v-center three-col-content">
        	<h3>Paradise Found</h3>
            <h2><span class="block-element">National</span>Park</h2> 
        </div>
        <div class="col-sm-4 no-padding v-center"><img src="../images/three-col-2.jpg" alt=""/></div>
  </div>
</section>

<section>
  <div class="container-fluid no-padding three-col-wrap">
    	
        <div class="col-sm-4 v-center three-col-content">
        	<h3>adventure</h3>
            <h2><span class="block-element">playground</span>for all</h2> 
        </div>
        <div class="col-sm-4 no-padding v-center seal"><img src="../images/three-col-3.jpg" alt=""/><div class="graphic"><img src="../images/floating/stamp-big.png" alt=""/></div></div>
         <div class="col-sm-4 v-center three-col-content">
        	<h3>explore</h3>
            <h2><span class="block-element">natural</span>wonders</h2> 
        </div>
        
  </div>
</section>-->
<!--
<section>
	<div class="container-fluid test-wrap">
    <div class="container">
    	<div class="test-wrap-inner">
    <div id="testCarousel" class="carousel slide">  
      <ol class="carousel-indicators">
        <li data-target="#testCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#testCarousel" data-slide-to="1"></li>
        <li data-target="#testCarousel" data-slide-to="2"></li>
        <li data-target="#testCarousel" data-slide-to="3"></li>
      </ol>
       
      <div class="carousel-inner">
      <h2>Guestbook</h2>
        <div class="item active">
            <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
            <span class="author-label">- Thomas Brown</span>
        </div>
        <div class="item">
            <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
        </div>
        <div class="item">
            <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
        </div>
        <div class="item">
            <p>“ Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.”</p>
        </div>
        
      </div>
    </div>
   
   
  </div>
  </div>
    </div>
</section>
-->

<section class="hlw">
	<div class="hlw-inner">
	<div class="container">
   	  <div class="home-location-wrap"> 
      
      {% include location.html %}
      
           <div><a href="/location/" class="button-common btn-blue">Explore location<i class="fa fa-play"></i></a></div>
           
           <div class="graphic"><img src="/images/floating/stamp-3.png" alt=""/></div>
           
            
      </div>
    </div>
    </div>
    <div class="cuba"><img src="/images/floating/cuba.png" alt=""/></div>
</section>


<section>
	<div class="container-fluid show-case">
    	<div class="row">
    	<div class="col-sm-4 no-padding"><img src="../images/show-case-1.jpg" alt=""/></div>
        <div class="col-sm-4 no-padding"><img src="../images/show-case-2.jpg" alt=""/></div>
        <div class="col-sm-4 no-padding"><img src="../images/show-case-3.jpg" alt=""/></div>
        </div>
    </div>
</section>

<section>
	<div class="new-map">
    <img src="/images/new-map.jpg" alt=""/> </div>
</section>