<section id="home-banner">
  <div class="home-banner-wrap">
    <div id="homeCarousel" class="carousel slide"> 
      <!-- Indicators -->
      <ol class="carousel-indicators">
        <li data-target="#homeCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#homeCarousel" data-slide-to="1"></li>
        <li data-target="#homeCarousel" data-slide-to="2"></li>
        <li data-target="#homeCarousel" data-slide-to="3"></li>
        <li data-target="#homeCarousel" data-slide-to="4"></li>
      </ol>
      
      <!-- Wrapper for Slides -->
      <div class="carousel-inner" rt3-recent-bookings="recentBookings" rt3-rooms-browser="browser" rt3-search-form="search" on-search-changed="browser.tonightRate()" ng-cloak>
      
              <div class="item active"> <img src="../images/home-carousel-2.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Endless Summer</p>
              <h1>Holiday dream come true</h1>
              <div><a href="/specials/" class="button-common">View Specials <i class="fa fa-play"></i></a></div>
            </div>
          </div>
          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
      
        <div class="item"> <img src="../images/home-carousel-1.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Paradise Found</p>
              <h1>24 north hotel key west</h1>
              <div><a href="/location/" class="button-common">Discover More <i class="fa fa-play"></i></a></div>
            </div>
          </div>
         <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
        
         <div class="item"> <img src="../images/home-carousel-3.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Perfect Stay</p>
              <h1>Live in style and comfort</h1>
              <div><a href="/rooms/" class="button-common">View Rooms<i class="fa fa-play"></i></a></div>
            </div>
          </div>
           <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
        <div class="item"> <img src="../images/home-carousel-4.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Dive Into</p>
              <h1>A world of adventure</h1>
              <div><a href="/gallery/" class="button-common">View Gallery<i class="fa fa-play"></i></a></div>
            </div>
          </div>
          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
        <div class="item"> <img src="../images/home-carousel-5.jpg" alt=""/>
          <div class="carousel-caption transparent-bg">
            <div class="caption-inner">
              <p>Tranquil Haven</p>
              <h1>Destination Divine</h1>
              <div><a href="/location/" class="button-common">View Location<i class="fa fa-play"></i></a></div>
            </div>
          </div>
          <div class="caption-price"> <span class="price-holder"><span>[[ recentBookings.totalBookings ]]</span>People booked our hotel in the last 2 days</span> <span class="price-holder"><span>[[ browser.toNightsRate ]]</span>Tonight’s Rate</span></div>
        </div>
        
      </div>
    </div>
    <!--<div class="theme-left-panel">
      <div class="languages"><a href="#">English</a><a href="#">Español</a><a href="#">Deutsch</a></div>
    </div>-->
    <div class="theme-right-panel">
      <div class="social-right"><!-- <a href="#"><i class="fa fa-instagram"></i></a> --><a href="https://www.facebook.com/24-North-Hotel-190785077925312/" target="_blank"><i class="fa fa-facebook"></i></a> <!--<a href="#"><i class="fa fa-twitter"></i></a> --></div>
    </div>
  </div>
</section>