---
layout: default
---
<section>
  <div class="container">
    <div class="blog-list blog-detail">
      <div class="col-md-8 no-padding">
        <div class="blog-list-holder">
          <div class="blog-item">
            <h1>Duval Street</h1>
            <div class="post-image-holder"><img src="/images/attractions/placeholder.jpg" alt=""/>
              <!--<h6>Andy Newman/Florida Keys News Bureau</h6>-->
            </div>
            <p>Duval is synonymous with Key West. Located a few minutes from the hotel, Duval Street cuts across the heart of Old Town Key West, connecting the Gulf of Mexico to the Atlantic Ocean. This is the street where you’ll find some of the island’s main attractions – the galleries, the museums, the cigar shops, and of course, the bars. If the Conch Republic would ever designate a capital, Duval would have to be it. It’s the center of Key West. And although it’s inevitable that you’ll fall into a few tourist traps as you peruse this popular street, there are some spots that are quite worth it. Allow us to recommend a few of our favorites near the hotel.</p>

<p>Take the 24 North Hotel <a href="www.24northhotel.com/pdf/shuttle-schedule.pdf" target="_blank">shuttle to Old Town</a>, which will drop you off at our sister hotel The Marker. From there, you’re just two blocks away from Key West’s most infamous street. Depending on how you want to start your walk down Duval, there’s <a href="https://sloppyjoes.com/" target="_blank">Sloppy Joe’s Bar</a> at the corner of Greene Street and Duval, the bar that Hemingway made famous as one of his frequent stomping grounds during his years as a Conch. There’s also The <a href="fogartysofkeywest.com/flyingmonkeys/" target="_blank">Flying Monkey Bar at Fogarty’s</a> just a block away, which happens to be one of our favorites for frozens. If you can’t find a frozen beverage you like here, you won’t find one at all – they have 20 different varieties on a daily basis. </p>

<p>However, if you’re not looking for that type of trip, there are plenty of sights to see on Duval and the surrounding side streets. For the history buffs, there’s Key West’s <a href="oirf.org/index.php" target="_blank">Oldest House</a>. Built in 1829, Key West’s Oldest House offers insight into the Old Key West, as well a glimpse at this iconic island town’s past. </p>

<p>On the next block you’ll find our photographer of choice, Jorge de la Torriente, at DE LA Gallery. If you like the prints decorating 24 North Hotel, then you’ll love his other work and its ethereal quality. A few steps away from <a href="www.delagallery.com/" target="_blank">DE LA Gallery</a> is one of the most unique buildings in Key West – the San Carlos Institute. A museum dedicated to the shared history of Key West and Cuba, the <a href="www.institutosancarlos.org/" target="_blank">San Carlos Institute</a> is as interesting inside as it is on the outside, showing a side to the island that has slowly been forgotten. </p>

<p>Just off Duval, in Key Lime Square, you’ll have the opportunity to try the best coffee in all Key West. Cuban Coffee Queen’s <a href="www.cubancoffeequeen.com/" target="_blank">downtown location</a> is not even a block from Duval. If you’re hungry, grab the Cuban Mix sandwich. If you can wait, take your coffee to go and  hold out for a few blocks until you reach the newest location of <a href="www.keylimeshop.com/" target="_blank">Kermit’s Key Lime Shoppe</a>. Named the best key lime pie by Paula Deen, a slice of Kermit’s famous pie is must when you’re in the Keys. </p>

<p>Continuing your trip down Duval, you’ll encounter a nice respite from the usual debauchery at the <a href="keywestbutterfly.com/" target="_blank">Key West Butterfly and Nature Conservatory</a>. Converted from a former Key West home, this peaceful butterfly sanctuary houses over 50 species of butterflies. Just a block over, on Whitehead Street, you’ll find the <a href="www.cityofkeywest-fl.gov/egov/apps/locations/facilities.egov?view=detail;id=79" target="_blank">Southernmost Point</a> beckoning for a photo. While you may have been able to resist the bars and cigar shops, this is one tourist activity on Duval you’ll have to give in to. After all, if you don’t take the photo how will anyone know you went? </p>

<p>For dinner, stop at <a href="latrattoria.us/" target="_blank">La Trattoria</a> on your way back up Duval. Not only is it the best Italian in Key West, it also has a “hidden” martini bar in the back called <a href="latrattoria.us/index.php/virgilios/" target="_blank">Virgilio’s</a>, which serves up excellent martinis and late-night live music. Eat, drink, dance and repeat. And do the same on your walk back up Duval. We’ll leave you to it. </p>

<p style="font-style:italic;">The 24 North Hotel Shuttle leaves from the hotel every hour on the hour, from 7 a.m. to 9 p.m., with no service between 1:30 p.m. and 2:30 p.m. The return trip leaves from The Marker every hour on the half- hour with the last trip at 9:30 p.m.</p>
          </div>
        </div>
      </div>
      <div class="col-md-4 blog-item att-item">
      	<div class="others">
            <h2>Other Attractions</h2>
            <ul class="other-attractions">
            	<li><a href="/attractions/dry-tortugas/">Dry Tortugas</a></li>
                <li><a href="/attractions/fort-zachary/">Fort Zachary Taylor Historic State Park</a></li>
                <li><a href="/attractions/ernest-hemingway/">Ernest Hemingway Home and Museum</a></li>
                <li><a href="/attractions/sculpture-garden/">Key West Historic Memorial Sculpture Garden</a></li>
                <li><a href="/attractions/mallory-square/">Mallory Square</a></li>
                <li><a href="/attractions/rodriguez-cigar/">Rodriguez Cigar Factory</a></li>
            </ul>
        </div>
      </div>
    </div>
    <div class="col-md-4 no-padding"> 
      <!--<div class="recent-wrap">
          <div class="recent-title">Recent Posts</div>
        </div>--> 
    </div>
  </div>
</section>
