.blog-list {
	padding: 60px 0 60px 0;
	overflow: hidden;
	@media(min-width:992px){
	/*.border-right {
		border-right: solid 1px #f1f1f1;
	}*/
}
@media(max-width:767px){
	padding: 30px 0 30px 0;
}
}
.blog-list-holder {
	width: 80%;
		@media(max-width:767px){
			width: auto;
		}
}
.blog-item {
	.post-image-holder {
		padding: 0 0 30px 0;
		img {
			width: 100%;
		}
	}
	h1,h2{
		
		font-size: 30px;
		color: $tc-light-blue-1;
		padding: 0 0 15px 0;
		font-family: $main-font-light;
			@media(max-width:767px){
				font-size: 20px;
		}
	}
	h6{
		padding-top:5px;
		}
	p{
		color: $tc-ash-4;
		letter-spacing: 1px;
    line-height: 30px;
    font-size: 18px;
	padding: 0 0 30px 0;
	font-family: $main-font-light;
		@media(max-width:767px){
				font-size: 15px;
				line-height: 26px;
				padding: 0 0 15px 0;
		}
	a {
		font-family: $main-font-medium;
	}
	}
	.post-details {
		font-size: 13px;
		color: $tc-ash-4;
		padding-bottom: 15px;
		display:block;
	}
}
.recent-wrap {
	@media(min-width:992px){
	padding-left: 30px;
	}
	.recent-title{
		font-size: 30px;
		color: $tc-black;
		font-family: $main-font-light;
	}
}
.divider-line {
	border-bottom: solid 1px #f1f1f1;
	margin: 0 0 15px 0;
	@media(min-width:768px){
	margin: 0 0 25px 0;
	}
}
.bold-text{
	font-weight: bold;
}
.blog-detail {
	padding-top: 20px;
}
.italic-text {
	font-style: italic;
}