---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner attractions-bannner">
    	<div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
      <h1 class="page-title"> Attractions </h1>
    </div>
  </div>
</section>
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center"> <img src="/images/attractions/dry-tortugas.jpg" alt=""></a> </div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">Dry Tortugas</p>
          <p class="desp">Located off the coast of Key West, Dry Tortugas National Park is the perfect island adventure.</p>
          <div class="btn-holder"><a href="/attractions/dry-tortugas/"  class="button-common btn-blue">View this attraction<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center"> <img src="/images/attractions/duval-st-list.jpg" alt=""></div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">Duval Street</p>
          <p class="desp">If the Conch Republic would ever designate a capital, Duval would have to be it. It’s the center of Key West.</p>

          <div class="btn-holder"><a href="/attractions/duval-street/"  class="button-common btn-blue">View this attraction<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center"> <img src="/images/attractions/fort-lst.jpg" alt=""></div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">Fort Zachary Taylor Historic State Park</p>
          <p class="desp">Known as Key West’s best beach, the Fort Zachary Taylor Historic State Park is as much of an outdoor excursion as it is a history lesson.</p>
          <div class="btn-holder"><a href="/attractions/fort-zachary/" class="button-common btn-blue">View this attraction<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center"> <img src="/images/attractions/hemingway-lst.jpg" alt=""></div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">Ernest Hemingway Home and Museum</p>
          <p class="desp">“Where a man feels at home, outside of where he’s born, is where he’s meant to go,” - Ernest Hemingway</p>
          <div class="btn-holder"><a href="/attractions/ernest-hemingway/"  class="button-common btn-blue">View this attraction<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center"> <img src="/images/attractions/sculpture-lst.jpg" alt=""></div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">Key West Historic Memorial Sculpture Garden</p>
          <p class="desp">This is the place to buff up on your Key West history.</p>
          <div class="btn-holder"><a href="/attractions/sculpture-garden/"  class="button-common btn-blue">View this attraction<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center"> <img src="/images/attractions/malory-lst.jpg" alt=""> </div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">Mallory Square</p>
          <p class="desp">Whether it’s a race, festival or an event, Mallory Square is Key West’s most popular meeting point.</p>
          <div class="btn-holder"><a href="/attractions/mallory-square/"  class="button-common btn-blue">View this attraction<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="models">
  <div class="container">
    <div class=" two-col-wrap">
      <div class="row no-gutters">
        <div class="col-sm-6 sp-img v-center"> <img src="/images/attractions/ciggar-lst.jpg" alt=""></div>
        <div class="col-sm-6 sp-content v-center">
          <p class="title">Rodriguez Cigar Factory</p>
          <p class="desp">On a little side street off Duval, you’ll find the only cigars in Key West worthy of a Cuban name. That’s because Rodriguez Cigars are, in fact, Cuban.</p>
          <div class="btn-holder"><a href="/attractions/rodriguez-cigar/" class="button-common btn-blue">View this attraction<i class="fa fa-play"></i></a></div>
        </div>
      </div>
    </div>
  </div>
</section>
