---
layout: default
---
<section>
  <div class="container no-padding">
    <div class="page-banner rooms-banner">
    	<div class="graphic"><img src="/images/floating/stamp-1.png" alt=""/></div>
      <h1 class="page-title">Rooms</h1>
    </div>
  </div>
</section>

<section>
	<div class="container" rt3-rooms-browser="browser" rt3-search-form="search" on-search-changed="browser.tonightRate()" ng-cloak>
    <div class="row">
    	<div class="rooms-holder">
        <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/standard-king.jpg" alt=""/></figure>
                    <h2>standard<br>/king</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[0] ]]</span></div>
                    <p>Our Standard King features brand new furnishings and stylish decor. All King rooms...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=standard&selected_room=S1K" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/standard-queen-queen.jpg" alt=""/></figure>
                    <h2>standard<br>/queen queen</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[1] ]]</span></div>
                    <p>Two Queen beds feature luxurious bedding with brand new furnishings and stylish....</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=standard&selected_room=S2Q" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
        	<div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-ocean-view-queen-queen.jpg" alt=""/></figure>
                    <h2>Premium Ocean View<br>/Queen Queen</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[2] ]]</span></div>
                    <p>Our premium Ocean View rooms with two queen beds feature modern and stylish decor...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=premium&selected_room=P2QO" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-ocean-view-king.jpg" alt=""/></figure>
                    <h2>Premium Ocean View<br>/King</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[3] ]]</span></div>
                    <p>Our premium Ocean View rooms with King Bed feature modern and stylish decor...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=premium&selected_room=P1KO" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-ocean-view-suite-king.jpg" alt=""/></figure>
                    <h2>Premium Ocean View Suite<br>/King</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[4] ]]</span></div>
                    <p>Our Premium Ocean View King Suite is a brand new modern suite with breathtaking...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=premium&selected_room=PS1KO" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-pool-view-suite-king.jpg" alt=""/></figure>
                    <h2>Premium Pool View Suite<br>/King</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[5] ]]</span></div>
                    <p>Our Premium Pool View King Suite is a brand new modern suite with wide-ranging...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=premium&selected_room=PS1KP" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/deluxe-pool-view-king.jpg" alt=""/></figure>
                    <h2>Deluxe Pool View<br>/King</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[6] ]]</span></div>
                    <p>Brand new modern Pool view king rooms featuring stunning views of the resort...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=deluxe&selected_room=D1KP" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-ocean-view-junior-suite-king.jpg" alt=""/></figure>
                    <h2>Premium Ocean View Junior <br>Suite/King</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[7] ]]</span></div>
                    <p>Our Premium Ocean View Junior Suite with King Bed is a brand new modern suite with...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=premium&selected_room=JS1KO" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/deluxe-pool-view-queen-queen.jpg" alt=""/></figure>
                    <h2>Deluxe Pool View<br>/Queen Queen</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[8] ]]</span></div>
                    <p>Brand new modern pool view rooms with two queen beds featuring stunning views of the...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=deluxe&selected_room=D2QP" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-ocean-view-suite-king-ada.jpg" alt=""/></figure>
                    <h2>Premium Ocean View Suite<br>/King ADA</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[9] ]]</span></div>
                    <p>Our Premium Ocean View King Suite is a brand new modern suite with breathtaking views...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=premium&selected_room=PS1KA" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            <!--<div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/premium-ocean-view-queen-queen-ada.jpg" alt=""/></figure>
                    <h2>Premium Ocean View<br>/Queen Queen ADA</h2>
                    <div class="room-price">Tonight’s Rate <span>$ 350</span></div>
                    <p>Lorem ipsum dolor sit amet, in quo magna oratio, illum assum neglegentur nec ne...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=premium&selected_room=P2QOA" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>-->
            <div class="col-md-4 col-sm-6">
            	<div class="rooms-item">
                    <figure><img src="/images/rooms/standard-king-ada.jpg" alt=""/></figure>
                    <h2>Standard<br>/King ADA</h2>
                    <div class="room-price">Tonight’s Rate <span>[[ browser.roomRates[10] ]]</span></div>
                    <p>Our Standard King features brand new furnishings and stylish decor. All King rooms...</p>
                    <div class="extra-padding"><a href="https://24northhotel.reztrip.com/search?selected_room_category=standard&selected_room=S1KA" target="_blank" class="button-common btn-blue">View this room<i class="fa fa-play"></i></a></div>
            	</div>
            </div>
            
        </div>
    </div>
    </div>
</section>


