---
layout: default
---
<div class="starbucks">
<section>
  <div class="home-banner-wrap">
    <div id="homeCarousel" class="carousel slide"> 
      <!-- Wrapper for Slides -->
      <div class="carousel-inner" rt3-recent-bookings="recentBookings" rt3-rooms-browser="browser" rt3-search-form="search" on-search-changed="browser.tonightRate()" ng-cloak>
        <div class="item active landing"> <img src="../images/starbucks-carousel.jpg" alt=""/>
          <div class="carousel-caption">
            <div class="caption-inner">
             <img src="../images/starbucks-logo.svg" alt="Starbucks ">
			  <p>Starbucks</p>
              <h1>Now open at 24 north hotel</h1>
              <i>Mon - Fri 6:30am - 8:00pm  |  Sat & Sun 7:00am - 7:00pm</i>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="theme-left-panel">
      <div class="languages"><a href="#">English</a><a href="#">Español</a><a href="#">Deutsch</a></div>
    </div>
    <div class="theme-right-panel">
      <div class="social-right"> <a href="#"><i class="fa fa-instagram"></i></a> <a href="https://www.facebook.com/24-North-Hotel-190785077925312/" target="_blank"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-twitter"></i></a> </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid blue-bg">
    <div class="about-wrap">
      <h1>Starbucks now open</h1>
      <p>To say Starbucks purchases and roasts high-quality whole bean coffees is very true. That’s the essence of what we do – but it hardly tells the whole story. Our coffeehouses have become a beacon for coffee lovers everywhere. Why do they insist on Starbucks? Because they know they can count on genuine service, an inviting atmosphere and a superb cup of expertly
roasted and richly brewed coffee every time.</p>
      <div class="btn-holder"><a href="#" class="button-common">View Location here <i class="fa fa-play"></i></a></div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        <img src="../images/sb-logo.png" alt=""/>
        <h3>Opening Hours</h3>
        <p class="m-t-30">Mon - Fri 6:30am - 8:00pm<br>Sat & Sun 7:00am - 7:00pm</p>
      </div>
    </div>
    <div class="col-sm-6 no-padding v-center"><img src="/images/sb-1.png" alt="Starbucks"/></div>
  </div>
</section>
<section class="about-home">
  <div class="container-fluid no-padding two-col-wrap">
    <div class="col-sm-6 no-padding v-center"><img src="/images/sb-2.png" alt="About the Hotel"/></div>
    <div class="col-sm-6 no-padding v-center">
      <div class="two-col-content">
        <h3>All in the details</h3>
        <p>We’re not just passionate purveyors of coffee, but everything else that goes with a full and rewarding coffeehouse experience. We also offer a selection of premium Tazo® teas, fine pastries and other delectable treats to please the taste buds. And the music you hear in store is chosen for its artistry and appeal..</p>
        <div class="btn-holder"><a href="#" class="button-common btn-blue">Discover More<i class="fa fa-play"></i></a></div> 
      </div>
    </div>
  </div>
</section>
<section>
  <div class="container-fluid no-padding home-rooms-wrap">
    <div class="home-rooms"></div>
  </div>
</section>
<section class="lifestyle">
	<div class="container-fluid">
    	<h3>Starbucks lifestyle</h3>
        <p>We’re a neighborhood gathering place, a part of the daily routine – and we couldn’t be happier about it. Get to know us and you’ll see: we are so much more than what we brew.</p>
    </div>
</section>
<section>
  <div class="container-fluid show-case">
    <div class="row">
      <div class="col-sm-4 no-padding"><img src="../images/sb-3.png" alt=""/></div>
      <div class="col-sm-4 no-padding"><img src="../images/sb-4.png" alt=""/></div>
      <div class="col-sm-4 no-padding"><img src="../images/sb-5.png" alt=""/></div>
    </div>
  </div>
</section>
</div>